h1.headline { padding: 0.2em; margin-bottom: 0.2em; border-bottom: 1px solid black; }
div#canvas { padding: 10px; border: 1em solid white; background-color: #a5a096; }
div#menu { padding-left: 40px; }
.ex { margin:4px; min-height:20px; padding:10px; border:2px solid blue; }
.dragged { border:2px solid orange !important; }
.dragover { border: 2px solid red !important; }
div.inline { display:inline-flex; }
p  { margin-top: 0em; margin-bottom: 0.5em; }
button { width: 8em; }
button.ghosted { background-color:#a0a0a0; }
div#message { background-color:#f0e0a0; color:#008000; font-size:1.3em; padding:0.2em; border:1px solid #008000; }
div#error { color:#cc8080; font-size:1.3em; }
aside { display:block; margin: 0 0 0 1em; padding:0.2em; background-color:lightgray; }
